.link-button
{
	padding-left:150px;
	padding-right:70px;
	padding-top:20px;
	padding-bottom:30px;
	


}
.btn-block
{
	color:#444;
	font-weight:500;
	border-color:#ee3733;
	border-width:3px;
	border-radius:10px;

}
.btn-block:hover
{

	background-color:#ee3733;
	color:white;
	font-weight:700;
	border-color:white;

}
.call-yes
{
	background-color:rgba(236, 32, 32, 0.76);
	color:white;
}
.call-no
{
	background-color: rgba(76, 165, 23, 0.8);
	color: rgb(30, 25, 25);
}
.call-yes-icon
{
	padding-left:10px;
	font-size:15px;
	color:rgba(76, 165, 23, 0.8);
}
#sell
{
	font-family:'Open Sans', sans-serif;
	color:rgba(236, 32, 32, 0.76);
	font-weight:700;
	
}
#buy
{
	font-family:'Open Sans', sans-serif;
	color:rgba(76, 165, 23, 0.8);
	font-weight:700;
}
