{% extends 'common/base.html' %}
 {% block title %} Email Sent{% endblock %}
 {% block content %}
 <div class="page-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Forget Password</h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
	<div class="container" style="padding-top:50px;padding-bottom:20px;">
	<div class="col-md-8 col-md-push-2">
	 <h4 class="classic-title"><span>EMAIL SENT</span></h4>
	<div class="alert alert-success fade in" style="font-size:17px; line-height:30px; font-family:'Open Sans', sans-serif;">

    <a href="{% url 'index' %}" class="close" data-dismiss="alert">&times;</a>
  Hey, <strong>{{ u.first_name }}.</strong>We have sent you instructions to reset password on <strong>{{ u.email }}</strong>.
</div>
 </div>
 </div>
 {% endblock %}