{% extends 'common/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="page-banner">
      <div class="container"style="padding-top:50px;">
        <div class="row">
          <div class="col-md-6">
            <h2>Reset Password</h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
{% if success %}
<div class="container"style="padding-top:50px;padding-bottom:35px;">
<div class="col-md-6 col-sm-12 col-xs-12">
<h4 class="classic-title"><span>RESET PASSWORD</span></h4>
<h3>Password Reset: Successful!</h3>
</div>
<div class="col-md-4 col-md-push-1">
<h4 class="classic-title"><span>LOGIN TO CONTINUE</span></h4>
	    <a class="button btn btn-primary btn-lg" href="{% url 'login' %}">Log in</a></h3>
</div>
</div>
{% else %}

<div class = "container" style="padding-top:50px;">
<div class="col-md-6 col-sm-12 col-xs-12">
<h4 class="classic-title"><span>RESET PASSWORD</span></h4>
	<form action = "{% url 'reset_password' id=user.id %}" method = "post" class = "form">
		{% csrf_token %}
		{% bootstrap_form f %}
		{% buttons %}
        </br></br><button type="submit" class="btn btn-primary">
            Submit
        </button>
	    {% endbuttons %}
	</form>
</div>
</div>
{% endif %}
{% endblock %}