{% extends 'common/base.html' %}
{% block title %} Reset Password {% endblock %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
<div class="page-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Set Password</h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
<div class="container" style="padding-top:50px;">
<div class="col-md-6 col-sm-12 col-xs-12">
<h4 class="classic-title"><span>SET PASSWORD</span></h4>
	<form action = "{% url 'set_password' id=uid otp=otp %}" method='POST'>
		{% csrf_token %}
		{% bootstrap_form f %}
		<input type="submit" name="submit" value="Update Password">
	</form>
	</div>

</div>
{% endblock %}